#about-container{
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "headshot-container intro-container";
        align-items: center;
        margin-top: 24px;
    }


    

    #intro-container{
        grid-area: intro-container;
        background-color: #92beba;
        padding: 16px 32px;
        h1{
            text-align: center;
            background-color: #92beba;

        }
    
        p{
            text-align: center;
            background-color: #92beba;
        }
    }

        #headshot-container{
            grid-area: headshot-container;
            display: flex;
            justify-content: center;

            img{
                width: 30vh;
                margin: 24px; 
                border-radius: 5px;

                @include md{
                    width: 40vh;
                    margin: 24px 24px;
                }
            
                @include lg{
                    width: 50vh;
                    margin: 24px 24px;
                }
            
                @include xl{
                    width: 60vh;
                    margin: 24px 24px;
                }
            }
    
    }   


        
    }

    