#about-container{
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "headshot-container intro-container";
        align-items: center;
        margin-top: 24px;
    }


    

    #intro-container{
        grid-area: intro-container;;
        padding: 16px 32px;
        h1{
            text-align: center;

            @include md{
                text-align: left; 
            }

        }
    
        p{
            text-align: center;
            line-height: 200%;
            font-size: rem-calc(18);
            color: #585858;

            @include md{
                text-align: left; 
            }

        }
    }

        #headshot-container{
            grid-area: headshot-container;
            display: flex;
            justify-content: center;

            img{
                width: 30vh;
                margin: 24px; 
                padding: 8px;
                border-radius: 50%;
                border: 8px solid #cc8898;

                @include md{
                    width: 40vh;
                    margin: 24px 24px;
                }
            
                @include lg{
                    width: 50vh;
                    margin: 24px 24px;
                }
            
                @include xl{
                    width: 60vh;
                    margin: 24px 24px;
                }
            }
    
    }   


        
    }

#favorites{
    text-align: center;
}

#spotify {
    text-align: center; /* Center the content horizontally */
}

#spotify h3 {
    margin-bottom: 10px; /* Add some space below the heading */
}

#spotify iframe {
    border-radius: 12px; 
    max-width: 100%; 
    width: 50%; /* Set the width of the iframe */
    height: 50vh; /* Set the height of the iframe */
    margin: 0 auto; /* Center the iframe horizontally */
}