#about-container{
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "headshot-container intro-container";
        align-items: center;
        margin-top: 24px;
    }


    

    #intro-container{
        grid-area: intro-container;;
        padding: 16px 32px;
        h1{
            text-align: center;

            @include md{
                text-align: left; 
            }

        }
    
        p{
            text-align: center;
            line-height: 200%;
            font-size: rem-calc(18);
            color: #585858;

            @include md{
                text-align: left; 
            }

        }
    }

        #headshot-container{
            grid-area: headshot-container;
            display: flex;
            justify-content: center;

            img{
                width: 30vh;
                margin: 24px; 
                padding: 8px;
                border-radius: 50%;
                border: 8px solid #cc8898;

                @include md{
                    width: 40vh;
                    margin: 24px 24px;
                }
            
                @include lg{
                    width: 50vh;
                    margin: 24px 24px;
                }
            
                @include xl{
                    width: 60vh;
                    margin: 24px 24px;
                }
            }
    
    }   


        
    }

#favorites{
    text-align: center;
    color: #206460;
    
    
    @include md{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "hobby spotify art";
    }
    
    #spotify {
        grid-area: spotify;
        text-align: center;
    }
    
    #hobby {
        grid-area: hobby;
        text-align: center;
    }
    
    #art{
        grid-area: art;
        text-align: center;
    } 
 }
    
