#associations-title{
  text-align: center;
  margin-top: 32px;
}

#associations{
  margin-top: 24px;
  background-color: #f1cbcc;
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "active-minds uxpa"
  "interaction-design accessibility";


  #active-minds{
    grid-area: active-minds;
    text-align: center;
    margin: 16px 8px;
    background-color: white;
    color: #222;
    border-radius: 10px;
    p{
      padding: 0 4px;
    }
    min-height: 250px;

    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include md{
      min-height: 150px;
      margin: 16px 48px;
      padding: 0 72px;
    }
  }

  #uxpa{
    grid-area: uxpa;
    text-align: center;
    margin: 16px 8px;
    background-color: white;
    color: #222;
    border-radius: 10px;
    p{
      padding: 0 4px;
    }
    min-height: 250px;
    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include md{
      min-height: 150px;
      margin: 16px 48px;
      padding: 0 72px;
    }
  }

  #interaction-design{
    grid-area: interaction-design;
    text-align: center;
    margin: 16px 8px;
    background-color: white;
    color: #222;
    border-radius: 10px;
    p{
      padding: 0 4px;
    }
    min-height: 250px;
    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include md{
      min-height: 150px;
      margin: 16px 48px;
      padding: 0 72px;
    }
  }

  #accessibility{
    grid-area: accessibility;
    text-align: center;
    margin: 16px 8px;
    background-color: white;
    color: #222;
    border-radius: 10px;
    p{
      padding: 0 4px;
    }
    min-height: 250px;
    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include md{
      min-height: 150px;
      margin: 16px 48px;
      padding: 0 72px;
    }
  }

}
