#contact-title{
    text-align: center;
    margin-top: 100px;

    @include md{
        margin-top: 200px;
    }
}
#contact-form {
    background-color: #f3f3f3;
    margin: 75px auto; 
    padding: 40px;
    border-radius: 5px;
    width: 90%; 
    max-width: 600px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

#contact-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
  @include md{
    #contact-form {
        background-color: #f3f3f3;
        margin: 75px auto; 
        padding: 40px;
        border-radius: 5px;
        width: 90%; 
        max-width: 100vw; 
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input{
        width: 100%;
        box-sizing: border-box;

    }
    textarea {
        width: 100%;
        margin-bottom: 15px; 
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        box-sizing: border-box;
    }
    
    
    #contact-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }
  #socials-title{
    text-align: center;

    @include md{
        font-size: rem-calc(24);
    }
  }


  #socials{
    ul {
        padding: 32px 6vw 48px 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        li {
          a {
            color: #222;
            font-size: rem-calc(30);
          }
        }
      
        @include md {
          padding: 32px 15vw 48px;
          max-width: 75%;
          margin: 36px 0;
          text-align: center;
          align-items: center;
          li {
            a {
              font-size: rem-calc(34);
            }
          }
      }
    } 
  }
  