#contact-form{
    background-color: var(--seaFoamGreen);
    padding: 32px 16px;

    form{
       display: grid; 
       gap: 16px;
       grid-template-rows: 90px 90px 200px auto;

       @include md{
        padding: 0 10vw;
        grid-template-columns: 50% auto;
        grid-template-rows: 8vh 16vh auto;
        grid-template-areas: 
        "name email"
        "message message"
        ". send-button";
       }

       div{
        background-color: transparent;
        display: flex;
        align-items: flex-end;

        input{
            width: 100%;
            padding-bottom: 5px;
            padding-left: 8px;
            box-sizing: border-box;
            border-radius: 25px;
        }

        textarea{
            padding-top: 8px;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        ::placeholder {
            color: #585858;
            opacity: 1; 
          }
          
          ::-ms-input-placeholder { 
            color: #585858;
          }
       }

       #contact-name{
            @include md{
                grid-area: name;
            }
       }

       #contact-email{
            @include md{
                grid-area: email;
            }

       }

       #contact-message{
        align-items: flex-start;

        @include md{
            grid-area: message;
        }
       }

       .primary-button{
        align-items: flex-start;
        justify-content: flex-end;

        @include md{
            grid-area: send-button;
        }
       }
    }
}