#hero{
    background-image: url("../img/home-hero.jpeg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#associations-hero{
    background-image: url("../img/associations-hero.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}