.quote{
    background-color: #92beba;
    
    @include md{
        padding: 24px;
    }
}
#quote-icon{
    color: #fff;
    margin-top: 16px;
    padding-top: 24px;
    text-align: center;
    font-size: rem-calc(24);
}

#quote-text{
    color: #fff;
    text-align: center;
    font-size: rem-calc(19);
    padding-bottom: 24px;
    line-height: 48px;
    contain: content;

}

#statement{
    text-align: center;
    padding: 0 32px;
    color: #585858;
    font-size: rem-calc(18);
    img{
        text-align: center;
        width: 35vh; 
    }
    
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        contain: content;
        grid-template-areas: 
        "personal-statement home-prof";

    #personal-statement{
        grid-area: personal-statement;
        margin-left: 16px;
        padding-top: 40px;
        text-align: left;

        @include lg{
            padding-top: 10vh;
            padding-right: 24px;
        }
    }

    #home-prof{
        grid-area: home-prof;
        img{
         width: 50vh;
        }
    }
    }
    
}


