.quote{
    background-color: #92beba;
    
    @include md{
        padding: 24px;
    }
}
#quote-icon{
    color: #fff;
    margin-top: 16px;
    padding-top: 24px;
    text-align: center;
    font-size: rem-calc(24);
}

#quote-text{
    color: #fff;
    text-align: center;
    font-size: rem-calc(19);
    padding-bottom: 24px;
    line-height: 48px;
    contain: content;

}



