#references-title {
  text-align: center;
  margin-top: 100px;
  @include md{
    margin-top: 200px;
  }

}

#references {
  margin-top: 24px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "hari" 
    "shruthi"
    "neeha";

  @include lg{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "hari shruthi neeha";
  }

  #hari {
    grid-area: hari;
    text-align: center;
    margin: 8px 12vh;
    padding: 16px;
    line-height: 32px;
    background-color: transparent;
    border: 1px solid #206460;
    color: #222;
    border-radius: 10px;
    min-height: 150px;

    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include lg {
      margin: 48px;
      padding: 0 72px;
      min-height: 300px;
    }
  }

  #shruthi {
    grid-area: shruthi;
    text-align: center;
    margin: 8px 12vh;
    padding: 16px;
    line-height: 32px;
    background-color: transparent;
    border: 1px solid #206460;
    color: #222;
    border-radius: 10px;
    min-height: 150px;

    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }
    @include lg {
      margin: 48px;
      padding: 0 72px;
      min-height: 300px;
    }
  }

  #neeha {
    grid-area: neeha;
    text-align: center;
    margin: 8px 12vh;
    padding: 16px;
    line-height: 32px;
    background-color: transparent;
    border: 1px solid #206460;
    color: #222;
    border-radius: 10px;
    min-height: 150px;

    &:hover, &:active{
      transition: .5s ease;
      background-color: #206460;
      color: white;
    }

    @include lg {
      margin: 48px;
      padding: 0 72px;
      min-height: 300px;
    }
  }
}