
  .resumeContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
    padding-top: 100px;
  
    @media (min-width: 768px) {
      margin-top: 150px; // Adjust for larger screens if necessary
    }
  
    
  }
  
