.resumeContent{
    text-align: center;
    margin-top: 200px;

}

#resume-title{
    text-align: center;
    color: #206460;
}

#downloadResume{
    text-decoration: underline; 
    text-align: center; 
    color: #206460; 
    font-family: "Prata", serif;
    font-size: rem-calc(16);
  
    &:hover{
      color: #92beba;
    }  
}

#professionalSummary{
    margin-top: 5vh;
    padding: 8px 16px;
    border-bottom: 1px solid #aeaeb2;

    
    @include md{
        padding: 0 20vw;
    }
}

#education{
    padding: 8px 16px;
    border-bottom: 1px solid #aeaeb2;

    @include md{
        padding: 0 24px;
    }
}

.skills {
    padding: 24px 24px;
    border-bottom: 1px solid #aeaeb2;
}

#skills-header {
    margin-bottom: 24px;
}
#skills-grid {
    display: flex;
    justify-content: space-between;
    list-style: none;
     
    li {
        flex: 1;
        text-align: center; 
        flex-wrap: nowrap;

    }
}

#figma{
    background-color: #cc8898;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    &:hover, &:active{
        transition: .5s ease;
        background-color: #206460;

    }
}

#invision{
    background-color: #cc8898;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    &:hover, &:active{
        transition: .5s ease;
        background-color: #206460;

    }
}

#adobe{
    background-color: #cc8898;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    &:hover, &:active{
        transition: .5s ease;
        background-color: #206460;

    }
}

#microsoft{
    background-color: #cc8898;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    &:hover, &:active{
        transition: .5s ease;
        background-color: #206460;

    }
}
#code{
    background-color: #cc8898;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    &:hover, &:active{
        transition: .5s ease;
        background-color: #206460;

    }
}


#experience{
    margin-bottom: 24px;
    padding: 8px 16px;
    border-bottom: 1px solid #aeaeb2;

    li{
        list-style: circle;
    }
    


    @include md{
        padding: 0 24px;
    }
}

#experience ul {
    list-style-type: disk;
    padding-left: 10%;
    text-align: left;
    line-height: 30px;

    li{
        margin-bottom: 16px;
    }
}

#relevantCoursework{
    padding: 0 16px;

    @include md{
        padding: 0 24px;
    }
}
