/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "burger-container contact-container"
    "main-nav main-nav";
    padding: 24px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;

    @include md{
        grid-template-columns: 60% auto;
        grid-template-areas: 
        "logo-container logo-container"
        "main-nav contact-container"

    }


    #burger-container{
        grid-area: burger-container;
        padding-left: 16px;

            button{
                padding: 8px 0;
                color: #222;
            }

            @include md{
                display: none;
            }
    }

    #contact-container{
        grid-area: contact-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        height: 100%;

    }

    #main-nav{
        grid-area: main-nav;
        
        @include md{
            display: block;
        }

    }

    #logo-container{
        display: none;

        @include md{
            display: block;
            grid-area: logo-container;
            text-align: center;
            padding-bottom: 8px;
            
            img {
                width: 5%;
              }

        }
    }
}

.hideMainNav{
    display: none;
}