
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-template-areas: 
    "logo-container" 
    "burger-container" 
    "contact-container" 
    "main-nav";
  padding: 24px 0;
  position: fixed;
  width: 100%;
  align-items: center;

  #burger-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: burger-container;
    padding-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    button {
      padding: 0;
      color: black;
    }

    @media (min-width: 768px) {
        display: none;
      }

  }

  #contact-container {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: contact-container;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 16px;

    @media (min-width: 768px) {
      padding-right: 8px;
    }
  }

  #main-nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: main-nav;

    @media (min-width: 768px) {
      display: block;
      align-self: flex-start;
      justify-self: flex-start;
      padding-left: 8px;
    }
  }

  #logo-container {
    display: none;

    @media (min-width: 768px) {
      display: block;
      grid-area: logo-container;
      text-align: center;
      padding: 24px 0;

      img {
        width: 5%;
      }
    }
  }
}

.hideMainNavatMobile {
  display: none;
}

@media (max-width: 768px) {
  header {
    grid-template-areas: 
      "burger-container contact-container"
      "main-nav main-nav";
    grid-template-columns: 1fr auto;
  }

  #contact-container {
    justify-content: flex-end;
  }

  #burger-container {
    display: none;
  }

  #main-nav {
    background-color: white;
    padding: 24px 16px;
    margin-top: 16px;
    width: 100%;

    ul {
      display: block;
      text-align: center;
      li {
        margin: 10px 0;
      }
    }

    margin-top: 16px;
  }
}
