/* =============
    Buttons
============= */
button{
    border: none;
    background-color: transparent;
}

.primary-button{
    background-color: white;
    padding: 8px 16px;
    font-weight: 700;
    font-size: rem-calc(16);
    color: #222;
    border-radius: 25px;
    border: 1px solid;
    border-color: #222;
    font-family: "Prata", serif;
}