/* =============
    Buttons
============= */

button{
    background-color: transparent;
    border: none;

}

.primary-button{
    background-color: #fff;
    padding: 8px 24px;
    font-family: "Prata", serif;
    font-weight: 500;
    color: #222;
    border-color: #222;
    border: 1px solid;
    border-radius: 25px;
    font-size: rem-calc(14);
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: #222;
        color: white;
    }
}