/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

#main-nav{
    background-color: #fff;
    padding: 24px 16px;
    font-family: "Prata", serif;
    margin-top: 16px;

    @include md{
        background-color: white;
        margin-top: 0px;
    }
    
    ul{
        @include md{
            display: flex;
            align-items: center;
        }
        li{

            @include md{
                border-right: 1px solid #aeaeb2;
            }
            a:link, a:visited{
                font-size: rem-calc(18);
                padding: 8px;
                display: inline-block;
                color: #585858;

                @include md{
                    padding: 8px 12px;
                    font-size: rem-calc(14);
                    font-weight: 600;
                }

                @include lg{
                    padding: 8px 12px;
                    font-size: rem-calc(15);
                    font-weight: 600;
                }

                @include xl{
                    padding: 8px 12px;
                    font-size: rem-calc(16);
                    font-weight: 600;
                }

                &:hover, &:active{
                    color: #222;
                    font-size: rem-calc(20);
                }
            }
        }

        #last-link{
            border: none;
        }
    }
}