/* =============
    Typography
============= */

body{
    font-family: "Manrope", sans-serif;
}

h1{
    font-family: "Prata", serif;
    font-weight: 800;
    color: #222;
    font-size: rem-calc(20);
}

h2{
    font-family: "Prata", serif;
    font-weight: 700;
    font-size: rem-calc(16);
    color: #585858; 
}