/* =============
    Typography
============= */

body{
    font-family: "Manrope", sans-serif;
    color: #222;
}
h1,h2,h3,h4,h5{
    font-family: "Prata", serif;
    padding: 0;
    margin: 0;
    color: #585858;
}

p{
    padding: 0;
    margin: 0;
  }